{% extends "layouts/wide_reader.njk" %}

{% block readerBody %}
    <form method="post">
        <div class="bg-white justify-content-center text-dark pt-4 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2>Hiragana selection</h2>
                        <p>Select which packs to include for revision within the hiragana alphabet</p>
                    </div>

                    <div class="col-md-3">
                        <button type="button" class="btn btn-dark btn-block"
                                onclick="selectAllCheckboxes('hiragana')">Toggle all hiragana</button>
                    </div>
                </div>

                <div class="options">
                    {% for column in hiragana %}
                        {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input type="checkbox" name="hiragana" value="{{ column.id }}"
                                           id="{{ column.id }}"
                                           aria-describedby="{{ column.id }}-hint" />
                                    <label for="{{ column.id }}">{{ column.name }}</label>
                                    <span class="text-secondary" id="{{ column.id }}-hint">{{column.description }}</span>
                                </div>
                            </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="bg-dark-lighter justify-content-center text-light pt-4 drop-dark-shadow pb-4">
            <div class="container text-right">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-light btn-block"
                                onclick="selectAllCheckboxes('katakana')">Toggle all katakana</button>
                    </div>
                    <div class="col-md-9">
                        <h2>Katakana selection</h2>
                        <p>Select which packs to include for revision within the katakana alphabet</p>
                    </div>
                </div>

                <div class="options">
                    {% for column in katakana %}
                        {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
                        <div class="col-md-6 text-left" >
                            <div class="checkbox">
                                <input type="checkbox" name="katakana" value="{{ column.id }}"
                                       id="{{ column.id }}"
                                       aria-describedby="{{ column.id }}-hint" />
                                <label for="{{ column.id }}">{{ column.name }}</label>
                                <span class="alt-secondary" id="{{ column.id }}-hint">{{ column.description }}</span>
                            </div>
                        </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="bg-white justify-content-center text-dark pt-4 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2>Kanji selection</h2>
                        <p>Select which packs to include for revision within the kanji alphabet</p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-dark btn-block"
                                onclick="selectAllCheckboxes('kanji')">Toggle all kanji</button>
                    </div>
                </div>


                <div class="options">
                    {% for column in kanji %}
                        {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
                        <div class="col-md-6">
                            <div class="checkbox">
                                <input type="checkbox" name="kanji" value="{{ column.id }}"
                                       id="{{ column.id }}"
                                       aria-describedby="{{ column.id }}-hint" />
                                <label for="{{ column.id }}">{{ column.name }}</label>
                                <span class="text-secondary" id="{{ column.id }}-hint">{{ column.description }}</span>
                            </div>
                        </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="bg-dark-lighter justify-content-center text-light pt-4 drop-dark-shadow pb-4">
            <div class="container text-right">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-light btn-block"
                                onclick="selectAllCheckboxes('compound')">Toggle all compounds</button>
                    </div>
                    <div class="col-md-9">
                        <h2>Compounds selection</h2>
                        <p>Select which packs to include for revision within the compound dictionary</p>
                    </div>
                </div>

                <div class="options">
                    {% for column in compound %}
                        {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
                        <div class="col-md-6 text-left" >
                            <div class="checkbox">
                                <input type="checkbox" name="compound" value="{{ column.id }}"
                                       id="{{ column.id }}"
                                       aria-describedby="{{ column.id }}-hint" />
                                <label for="{{ column.id }}">{{ column.name }}</label>
                                <span class="alt-secondary" id="{{ column.id }}-hint">{{ column.description }}</span>
                            </div>
                        </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="bg-white justify-content-center text-dark pt-4 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2>Phrase selection</h2>
                        <p>Select which packs to include for revision within the phrase flashcards</p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-dark btn-block"
                                onclick="selectAllCheckboxes('phrases')">Toggle all phrases</button>
                    </div>
                </div>


                <div class="options">
                    {% for column in phrases %}
                        {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
                        <div class="col-md-6">
                            <div class="checkbox">
                                <input type="checkbox" name="phrases" value="{{ column.id }}"
                                       id="{{ column.id }}"
                                       aria-describedby="{{ column.id }}-hint" />
                                <label for="{{ column.id }}">{{ column.name }}</label>
                                <span class="text-secondary" id="{{ column.id }}-hint">{{ column.description }}</span>
                            </div>
                        </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="bg-dark-darker justify-content-center text-light pt-4 drop-dark-shadow pb-4">
            <div class="container marketing text-center">
                <h2>When you're ready...</h2>
                <p>
                    When you've selected all of the language packs that you'd like to revise,
                    click the button below to start!
                </p>
                <input type="submit" class="button btn-primary btn" name="load-flashcards" value="Time to revise" />
            </div>
        </div>
    </form>
{% endblock %}

{% block js_includes %}
    <script src="/assets/javascript/checkbox-management.js" type="application/javascript"></script>
{% endblock %}
