{% extends 'layouts/generic_reader.njk' %}

{% block readerBody %}
    <h1 class="h1">Revision session finished!</h1>

    <p>
        Congratulations! You've finished your revision pack session.
    </p>

    <p>
        If you want to pick a new pack, please go back to <a href="/choose-packs">Choosing some packs</a>.
    </p>
{% endblock %}
