{% extends 'layouts/generic_reader.njk' %}

{% block readerBody %}
    <h1 class="h1">Welcome!</h1>

    <p>
        This site exists as a training ground of sorts for the various scripts of
        the Japanese language. Namely, it exists as a flash-card substitute for
        memorising and recalling the various symbols that are the basic letters
        and words within Japanese.
    </p>

    <p>
        This website will include a rolling pack of script as and when the creator
        learns it and therefore needs to add it to the flash cards. It will include:
    </p>

    <div class="jumbotron hiragana">
        <div class="flash-box container row">
            <div class="col-4">
                <div class="rounded-circle img-thumbnail icon-host">
                    <p class="letter-icon">あ</p>
                </div>
            </div>
            <div class="col-8">
                <h2 class="h2">Hiragana (ひらがな)</h2>
                <p>
                    Hiragana is the basic script within Japanese, with 46 different
                    symbols which make up all the possible sounds within the Japanese
                    language.
                </p>
            </div>
        </div>
    </div>

    <div class="jumbotron katakana">
        <div class="flash-box container row">
            <div class="col-8">
                <h2 class="h2">Katakana (かたかな)</h2>
                <p>
                    Katakana is an additional alphabet within Japanese which is used exclusively
                    for foreign words and names. This includes any inventions which were imported
                    into Japan at some point and is a direct remap of the 46 hiragana.
                </p>
            </div>
            <div class="col-4">
                <div class="rounded-circle img-thumbnail icon-host">
                    <p class="letter-icon">ア</p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron kanji">
        <div class="flash-box container row">
            <div class="col-4">
                <div class="rounded-circle img-thumbnail icon-host">
                    <p class="letter-icon">月</p>
                </div>
            </div>
            <div class="col-8">
                <h2 class="h2">Kanji (かんじ)</h2>
                <p>
                    Kanji makes up the bulk of the Japanese language and is... a very large
                    topic to get into. Based on the chinese pictograms, a Kanji symbol usually
                    relates to its word symbolically somehow.
                </p>
            </div>
        </div>
    </div>

    <p>
        This site allows a user to select what packs they'd like to include into
        a single quiz, whereupon they will be asked to go through as many as they
        can within whatever timer they set, either selecting the correct symbol
        for a syllabary, or the correct roumaji for a given symbol.
    </p>
{% endblock %}
