{% extends 'layouts/generic_reader.njk' %}

{% import "macros/flashcard.njk" as flashMacros %}

{% block readerBody %}
    <h1 class="h1">Next flashcard!</h1>

    {% if flashcard.dictionary == 'kanji' %}
        {{ flashMacros.kanjiFlashcard(flashcard) }}
    {% elseif flashcard.dictionary == 'phrases' %}
        {{ flashMacros.phraseFlashcard(flashcard) }}
    {% else %}
        {{ flashMacros.kanaFlashcard(flashcard) }}
    {% endif %}

    <button class="btn btn-primary btn-block"
            onclick="window.location.reload()">Next</button>
{% endblock %}
