<footer class="footer bg-dark text-light pt-4">
    <div class="container row mx-auto">
        <section class="col-lg-3">
            <h3 class="h4">General pages</h3>
            <ul class="list-unstyled">
                <li class="col-12"><a href="/about">About the site</a></li>
            </ul>
        </section>
        <section class="col-lg-6">
            <h3 class="h4">Other info</h3>
            <ul class="list-unstyled">
                <li class="col-12">Created by J4Numbers (&copy; 2020)</li>
                <li class="col-12">Version {{ metadata.version }}</li>
            </ul>
        </section>
    </div>
</footer>
