{% extends "layouts/base.njk" %}

{% block rootBody %}
    <div class="bg-white justify-content-center text-dark">
        <div class="container">
            {% block readerBody %}{% endblock %}
        </div>
    </div>
{% endblock %}
